* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightgrey;
}
nav {
    height: 10vh;
    position: fixed;
}
.nav-links {
    display: flex;
    list-style: none;
    top: 5rem;
    margin: 1rem ;
    position: absolute;
    flex-direction: column;
    cursor: pointer;
}
.links__nav {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: .7rem .3rem ;
    width: 20rem;
    height: 2.5rem;
    background-color: lightgrey;
    margin-bottom: .2rem;
    opacity: 0;
}
.hamburger__line {
    width: 3rem;
    height: .5rem;
    background: black;
    margin: 5px;
}
.hamburger {
    position: relative;
    cursor: pointer;
    left: 1rem;
    top: 30%;
}
.links__nav.fade {
    opacity: 1;
}
.home {
        background-color: lightgrey;
}
.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.purple {
    background-color: purple;
}
.green {
    background-color: green;
}
  